*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 22px;
    color: rgb(255, 245, 238);
    opacity: 0.9;
    text-align: center;
}
header {
    position: fixed;
    background-color: #000;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}
header #logo {
    float: left;
    height: 50px;
    margin-left: 5px;
}
header a{
    color: seashell;
}
header nav{
    display: block;
    float: right;
    margin-right: 10px;
}
.hero {
    background-image: url(./img/img-mission-background.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    display: block;
    position: relative;
}
#herotext {
    background-color: #000;
    z-index: 2;
    margin: auto 0;
    width: 100%;
    float: right;
/*you did this before - look it up again, I guess */
}
.teamonthall {
    max-width: 1000px;
}
.teamonthlinks {
    display: flex;
    justify-content: space-between;
    overflow: /*fix that*/;
}
.teamonthlinks img{
    width: 300px;
    height: 200px;
}
.teamonthlinks figcaption {
    margin-top: 10px;
}
.locs {
    background-image: url(./img/img-locations-background.jpg);
    height: 500px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.locs div {
    opacity: 1.0;
    width: 300px;
    background-color: #000;
    line-height: 2;
}
#copyright {
    text-align: left;
}
/*ugh alignment is not working at all, what did i do?*/